html {
  background-color: #002b36;
  color: #839496; }

h1 {
  text-align: center; }

button {
  border: 1px solid #586e75;
  line-height: 2em; }

.btn-lg {
  width: 100%;
  padding: 0;
  font-size: 125%; }

.btn-default {
  background-color: #073642;
  color: #268bd2; }

.btn-main {
  background-color: #073642;
  color: #859900; }

.material-table {
  width: 100%; }

tr:nth-child(2n) {
  background-color: #073642; }

.col2 {
  width: 50%;
  float: left; }

.col3 {
  width: 33%;
  float: left; }

.container {
  width: 100%; }

select {
  padding: 0.2em;
  min-width: 100px;
  background-color: #073642;
  color: #dc322f;
  font-style: bold; }

.btn-container {
  margin-left: 2em;
  margin-right: 2em; }

li {
  margin-right: 5rem; }

ul li {
  line-height: 200%; }

.selected {
  background-color: #073642; }

button:focus {
  outline: 0; }
